<title>User: {{ object.username }}</title>
<h1> User: {{ object.username }}</h1>

<h3>Goals</h3>
{% if goals %}
    <ul>
    {% for goal in goals %}
      <li>
        <a href="{% url 'polls:topic_detail' goal.topic.id %}">{{ goal.topic.title }}</a>
        {% if request.user.is_authenticated %}
          <br/>
          <a href="{% url 'polls:goal_detail' goal.topic.id %}">View as Goal</a>
          <br/>
          <form name="remove_goal" method="post" action="{% url 'polls:remove_goal' goal.topic.id %}">
            {% csrf_token %}
            <input type="hidden" name="supporttype" />
            <input type="submit" value="Remove Goal" />
          </form>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No goals topics found.</p>
{% endif %}

{% if request.user.is_authenticated %}
<h3>Next Steps</h3>
{% if next_steps %}
  <ul>
  {% for goal_title, next_step_topics in next_steps.items %}
    <li> Next steps for {{ goal_title }}
      {% for next_step in next_step_topics %}
        <br/>
        <a href="{% url 'polls:topic_detail' next_step.id %}">{{ next_step.title }}</a>
      {% endfor %}
    </li>
  {% endfor %}
  </ul>
{% else %}
    <p>No next steps found.</p>
{% endif %}
{% endif %}

<h3>Known Topics</h3>
{% if known %}
    <ul>
    {% for k in known %}
        <li><a href="{% url 'polls:topic_detail' k.topic.id %}">{{ k.topic.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No known topics found.</p>
{% endif %}
